/*!CK:1276120574!*//*1453481593,*/

._14-7 ._58al::-webkit-input-placeholder{color:rgba(0, 0, 0, .40);font-size:14px}._14-7 ._58ah ._58al{font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;font-size:14px;line-height:20px}._14-7 ._58ak{margin:0 0 0 6px}._14-8{background:#cbe6fe;border-radius:3px;cursor:default;float:left;line-height:20px;margin:1px 3px 1px 0;padding:0 6px}._14-8:focus{background:#0084ff;outline:none}._14-9{color:#0084ff;font-size:14px}._14-8:focus ._14-9{color:#fff}

#bootloader_yop9H{height:42px;}.bootloader_yop9H{display:block!important;}