/*!CK:1411201348!*//*1453086185,*/

.sp_m64Wgy87XaD{background-image:url(/rsrc.php/v2/yA/r/Lqom_3LFWzZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_m64Wgy87XaD.sx_212d6d{background-position:0 0}.sp_m64Wgy87XaD.sx_f886f1{background-position:0 -25px}

#bootloader_KpFBb{height:42px;}.bootloader_KpFBb{display:block!important;}