/*!CK:1166516050!*//*1453184249,*/

._225b{background-color:rgba(0, 0, 0, .03);color:rgba(0, 0, 0, .40);font-size:13px;line-height:24px;padding:0 12px}._225c,._3xcx{height:44px;line-height:44px;padding:0 16px}._225c ._2i59{margin-right:16px;margin-top:10px}._4g0h,._3xcx{color:rgba(0, 0, 0, .40);font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

#bootloader_1s1ed{height:42px;}.bootloader_1s1ed{display:block!important;}