/*!CK:1220275130!*//*1453214154,*/

.sp_-rpb3S0iwE4{background-image:url(/rsrc.php/v2/y6/r/IZGep3ssW8B.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_-rpb3S0iwE4.sx_57a2b6{background-position:0 0}.sp_-rpb3S0iwE4.sx_3768f7{background-position:0 -17px}
.sp_SWa-bTRZ-iR{background-image:url(/rsrc.php/v2/yC/r/HtK_kVXQeZS.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_SWa-bTRZ-iR.sx_21e9d5{background-position:0 0}.sp_SWa-bTRZ-iR.sx_866c94{background-position:0 -17px}

#bootloader_QaTIi{height:42px;}.bootloader_QaTIi{display:block!important;}