/*!CK:3335734203!*//*1453247234,*/

.sp_N4qO36s4WR3{background-image:url(/rsrc.php/v2/yc/r/LnHA2CQAOFG.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_N4qO36s4WR3.sx_9df62e{background-position:0 0}.sp_N4qO36s4WR3.sx_c450e5{width:9px;height:9px;background-position:-11px -41px}.sp_N4qO36s4WR3.sx_0fe8c9{width:15px;height:15px;background-position:0 -25px}.sp_N4qO36s4WR3.sx_22c26d{width:10px;height:14px;background-position:0 -41px}

#bootloader_v_5u_{height:42px;}.bootloader_v_5u_{display:block!important;}